@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background-color: #503cb5;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 44px;
}

.subtitulo {
    color: white;
    font-size: 24px;
}
.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    background-color: #607EAA;
    width: 160px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid hotpink;
    margin: 13px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.tarjeta-de-mokepon:hover {
    color: orange;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    background-color: blue; 
    border: 2px solid white;
    color: white;
    width: 175px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 11px;
    font-family: 'Poppins', cursive;
    margin-top: 14px;

}

#boton-mascota:hover{
    background-color:red
}

input {
    display: none;
}

input:checked + label {
    background-color: #0008C1;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #607EAA;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 102px;
    height: 51px;
    color: white;
    font-family: "Poppins", sans-serif;
}
.boton-de-ataque:hover {
    background-color: blue;
}

.boton-de-ataque:active {
    background-color: red;
}

#mensajes {
    background: pink;
    width: 150px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#boton-reiniciar {
    border: transparent;
    color: white;
    background-color: red;
    font-family: "Poppins", sans-serif;

}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}
#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}
.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#ver-mapa button {
    background-color: blue; 
    border: 2px solid white;
    color: white;
    width: 90px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 11px;
    font-family: 'Poppins', cursive;
    margin: 10px 0;
}

#mapa {
    border: 2px solid white;
}

@media (max-width:400px){
    .tarjetas,.tarjetas-ataque{
        display: flex;
        flex-direction: column;
    }     
}

@media (max-width:375px){
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }     
}
